body{
    background-color: red;
}
h1{
    color: whitesmoke;
    font-weight: bold;
    font-size: 75px;
    
    text-align: center;
    
    font-family: fantasy;
    font-variant: small-caps;
    
    text-shadow: black 4px 2px 3px;
    text-transform: capitalize;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-blend-mode: screen;
    

}
h2{
    color: white;
    font-size: 40px;
    font-family: fantasy;
 
    text-shadow: black 2px 2px 3px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-variant: small-caps;
}

    
table{
    width: 1000px;
    
}
.c1{
    border-radius: 50px 5px;
    border-color: white;
    
}
.Side{
    background-color: rgb(18, 140, 211);
    
}
.b1{
    text-shadow: black 4px 2px 3px;
    text-transform: capitalize;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-blend-mode: screen;
    text-align: center;
    
    font-family: fantasy;
    font-variant: small-caps;
    color: whitesmoke;
    font-size: 18px;
    
}
a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }
  

